<app-navbar></app-navbar>
<div class="container"> 
    <ul class="list-group col-md-3">
        <li class="list-group-item active">
          <span class="tag tag-default tag-pill float-xs-right"></span>
          Действия
        </li>
        <li class="list-group-item">
          <span class="tag tag-default tag-pill float-xs-right" (click)="showAddNewHolidayPopup()">
            Добавить новое событие
          </span>
        </li>
        <li class="list-group-item">
          <span class="tag tag-default tag-pill float-xs-right" (click)="DeleteHolidayPopup()">
            Удалить событие
          </span>
        </li>
      </ul>
  <tabset class=" col-md-9">      
      <tab title="Люди" [active]="true">
        
        <!--div class="list col-md-9">
          <div *ngFor="let person of people">
            <app-card [person]="person"></app-card>
          </div>

          <div class="col-md-offset-1" *ngIf="people.length === 0" >
              <h1>Нет людей</h1>
          </div>
        </div>
      </tab>
      <tab title="Избранное">
        <div class="list col-md-9">
          <p *ngFor="let gift of favorites">
            <gift-card [gift]="gift"></gift-card>
          </p>
          <div class="col-md-offset-1" *ngIf="favorites.length === 0" >
              <h1>Нет подарков в избранное</h1>
          </div>
      </div-->

      </tab>
  </tabset>
</div>